@{
    var nombreUsuario = Context.Session.GetString("NombreUsuario");
    var rol = Context.Session.GetString("RolUsuario");
}
<!DOCTYPE html>
<html lang="en">

<head>
    <title>Pharma &mdash; Colorlib Template</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Rubik:400,700|Crimson+Text:400,400i" rel="stylesheet">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link href="~/datatables/datatables.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/css/aos.css">

    <link rel="stylesheet" href="~/css/style.css">

</head>

<body>

    <div class="site-wrap">


        <div class="site-navbar py-2">



            <div class="container">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="logo">
                        <div class="site-logo">
                            <a href="@Url.Action("Index","Home")" class="js-logo-clone">Pharma</a>
                        </div>
                    </div>
                    <div class="main-nav d-none d-lg-block">
                        <nav class="site-navigation text-right text-md-center" role="navigation">
                            <ul class="site-menu js-clone-nav d-none d-lg-block">
                                <li ><a href="@Url.Action("Index","Home")">Inicio</a></li>
                                @if(int.Parse(rol) == 1){
                                    <li><a href="@Url.Action("AdminProductos","Productos")">Inventario</a></li>
                                }
                                
                                <li><a href="@Url.Action("MostrarProductos","Productos")">Tienda</a></li>
                                <li><a href="@Url.Action("Acercade","Home")" )">Acerca de</a></li>
                                <li><a href="@Url.Action("Contacto","Login")">Contacto</a></li>
                                <li class="has-children">
                                    <a href="#">@nombreUsuario</a>
                                    <ul class="dropdown">
                                        <li><a href="#">Perfil</a></li>
                                        <li><a href="@Url.Action("CerrarSesion","Login")">Cerrar Sesión</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                    </div>
                    <div class="icons">
                        
                        <a href="cart.html" class="icons-btn d-inline-block bag">
                            <span class="icon-shopping-bag"></span>
                            <span class="number"></span>
                        </a>
                        <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none">
                            <span class="icon-menu"></span>
                        </a>

                    </div>
                </div>
            </div>
        </div>
        
        <div class="page-content-wrapper">
            <div class="page-content">

                
                @RenderBody()

                
            </div>
        </div>


        <footer class="site-footer">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

                        <div class="block-7">
                            <h3 class="footer-heading mb-4">Horario</h3>
                            <p class="email" >
                                Lunes a Domingo: 8 a.m a 5 p.m
                            </p>
                        </div>

                    </div>
                    <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
                        <h3 class="footer-heading mb-4">Accesos Rápidos</h3>
                        <ul class="list-unstyled">
                            <li><a href="@Url.Action("Index","Home")">Inicio</a></li>
                            <li><a href="@Url.Action("MostrarProductos","Productos")">Tienda</a></li>
                            <li><a href="@Url.Action("Contacto","Login")">Contacto</a></li>
                        </ul>
                    </div>

                    <div class="col-md-6 col-lg-3">
                        <div class="block-5 mb-5">
                            <h3 class="footer-heading mb-4">Información de Contacto</h3>
                            <ul class="list-unstyled">
                               
                                                
                                <li class="address">San José, Costa Rica</li>
                                <li class="phone"><a href="tel://23923929210">86784335</a></li>
                                <li class="email">pharmacr@outlook.com</li>
                                
                            </ul>
                            
                        </div>


                    </div>
                </div>
                <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                        <p>
                            
                            <script>document.write(new Date().getFullYear());</script> 
                        </p>
                    </div>

                </div>
            </div>
        </footer>
    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/datatables/datatables.js"></script>
    <script src="~/js/main.js"></script>
    @RenderSection("Scripts", false)
</body>

</html>